* {
  font-family: "Open Sans", sans-serif;
}

:focus {
  outline: 2px solid var(--primary-color);
  border: none;
}

::selection{
  background: var(--primary-color);
  color: var(--white);
}
:root {
  --white: #fff;
  --black: #000;
  --primary-color: #471396;
  --padding: 0.5rem;
  --margin: 0.5rem;
  --title-size: 1.5rem;
  --sub-title-size: 1rem;
  --p-size: 0.7rem;
  --info-size: 0.5rem;
  --gap: 0.5rem;
  --border-color: 1px solid #ccc;
  font-size: clamp(16px, calc(0.7vmin + 0.8vw), 28px);
}

h1 {
  font-size: var(--title-size);
  font-weight: 700;
}

h2,
h3 {
  font-size: var(--sub-title-size);
  font-weight: 600;
}

p {
  font-size: var(--p-size);
  font-weight: 400;
}
